$xxl: 2560px; // *Max size
$xl: 1920px; // *Regular size
$l: 1440px; // *Laptop
$m: 1024px; // *Large Tablet
$s: 850px; // *Regular size Tablet
$xs: 600px; // *Mini Tablet
$xxs: 420px; // *Regular Phone
