@use '../../../assets/scss/variables/deviceSize' as device;

.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  &__content {
    padding: 10rem 0;
    border-left: 1px solid #eeeeee;

    &--head {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      padding: 5rem 0;

      .title {
        flex: 1 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span {
          font-size: 5rem;
          color: #eeeeee;
          font-weight: 600;
          text-align: start;
        }
      }

      .navigate {
        flex: 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          border-bottom: 1px solid #d13539;
          padding: 0 0 0 2rem;
          margin: 0 calc(250px + 10px) 1rem 0;

          span {
            color: #d13539;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            white-space: break-spaces;
            opacity: 0.7;
            transform: scale(-1, 1);
          }
        }

        &__button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 50px;
        }
      }
    }

    &--cards {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: device.$m) {
  .wrapper {
    padding: 0 1rem;

    &__content {
      padding: 5rem 0;

      &--head {
        flex-direction: column;
        align-items: flex-start;
        padding: 2.5rem 0;

        .title {
          flex: none;
          margin: 0 0 1rem 0;

          span {
            font-size: 3.5rem;
          }
        }

        .navigate {
          flex: none;
          width: 100%;

          &__text {
            align-self: self-end;
            margin: 0 0 1rem 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: device.$xs) {
  .wrapper {
    &__content {
      &--head {
        border-right: 1px solid #eeeeee;
        padding: 2.5rem 1rem;

        .title {
          span {
            font-size: 2rem;
          }
        }

        .navigate {
          &__button {
            width: 100%;
          }
        }
      }
    }
  }
}
