.wrapper {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  &__content {
    padding: 2rem 0;
    border-left: 1px solid #eeeeee;

    &--head {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      .title {
        flex: 1 60%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span {
          font-size: 5rem;
          color: #eeeeee;
          font-weight: 600;
        }
      }

      .navigate {
        flex: 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        &__text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          border-bottom: 1px solid #d13539;
          padding: 0 0 0 2rem;
          margin: 0 calc(250px + 10px) 1rem 0;

          span {
            color: #d13539;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            white-space: break-spaces;
            opacity: 0.7;
            transform: scale(-1, 1);
          }
        }

        &__button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 250px;
          height: 50px;
        }
      }
    }
  }
}
