@use '../../assets/scss/variables/deviceSize' as device;

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 1rem 1rem;
  list-style-type: none;

  &__item {
    padding: 1rem 1rem 0 0;
    flex: 0 1 33.333%;

    &--content {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;

      span {
        font-size: 1rem;
        font-weight: 500;
        transition: color 0.35s ease-in-out, transform 0.35s ease-in-out;
      }

      a {
        color: #eeeeee;
        text-decoration: none;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.5rem;
          opacity: 0.5;
          transition: opacity 0.35s ease-in-out, box-shadow 0.35s ease-in-out;
        }

        &:hover {
          img {
            box-shadow: 0 0 0 3px #d13539, 0 4px 0 0 #85285b, 0 3px 30px 0 #d13539;
            opacity: 1;
          }

          & ~ span {
            color: #d13539;
            transform: translateY(-1rem);
          }
        }
      }
    }
  }
}

@media screen and (max-width: device.$m) {
  .wrapper {
    &__item {
      flex: 0 1 50%;
    }
  }
}

@media screen and (max-width: device.$xs) {
  .wrapper {
    &__item {
      flex: 0 1 100%;
    }
  }
}
