* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 130%;

  &::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  &::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

body {
  background-color: #171717;
  color: #eeeeee;
  font-family: 'Roboto', Arial, Helvetica, sans-serif, system-ui !important;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  img {
    pointer-events: none;
  }
}

::selection {
  color: #eeeeee;
  background: #d13539;
  -webkit-text-fill-color: #eeeeee;
}
