* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 100%;

  &::after {
    box-sizing: border-box;
  }

  &::before {
    box-sizing: border-box;
  }
}

body {
  background-color: #111111;
  color: #ffffff;
  font-family: Roboto, sans-serif, system-ui;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  img {
    pointer-events: none;
  }
}

::selection {
  color: #ffffff;
  background-color: #d13539;
}
