@use '../../../assets/scss/variables/deviceSize' as device;

.container {
  display: block;

  &__featured {
    display: block;

    .champions {
      position: relative;
      border-bottom: 3px solid #eeeeee;

      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        z-index: -1;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;
      }
    }

    .regions {
      position: relative;
      border-bottom: 3px solid #eeeeee;

      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        z-index: -1;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }
  }

  .title {
    display: block;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;

    a {
      color: #eeeeee;
      text-decoration: none;

      span {
        color: #c4b998;
        white-space: nowrap;
        font-size: 1.65rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        transition: color 0.35s ease-in-out;

        &:hover {
          color: #8a6c3c;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: device.$m) {
  .container {
    .content {
      padding: 1rem;
      max-width: 768px;
    }

    .nav {
      padding: 2rem 1rem;
    }
  }
}

@media screen and (max-width: device.$s) {
  .container {
    .content {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: device.$xs) {
  .container {
    &__featured {
      .champions {
        &__wrapper {
          .content {
            gap: 1rem;
          }
        }
      }
    }

    .nav {
      a {
        span {
          font-size: 1rem;
        }
      }
    }
  }
}
