.container {
  display: block;

  &__featured {
    display: block;

    .champions {
      position: relative;
      border-bottom: 3px solid #eeeeee;

      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        z-index: -1;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        gap: 1rem;

        .content {
          padding: 0 0 2rem 2rem;
        }
      }
    }

    .regions {
      position: relative;
      border-bottom: 3px solid #eeeeee;

      &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        opacity: 0.2;
        background-size: cover;
        background-position: center;
        z-index: -1;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .content {
          padding: 2rem 1rem 2rem 2rem;
        }
      }
    }
  }

  &__others {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    border-bottom: 3px solid #eeeeee;

    &--background {
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      opacity: 0.2;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }

    .links {
      padding: 0;

      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        .content {
          a {
            color: #eeeeee;
            text-decoration: none;
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-radius: 0.5rem;

            img {
              max-width: 750px;
              width: 100%;
              height: 100%;
              border-radius: 0.5rem;
              box-shadow: 0 0 0 2px #444444, 0 1px 0 0 #444444, 0 1px 6px 0 #444444;
              transition: box-shadow 0.35s ease-in-out;
            }

            &:hover {
              img {
                box-shadow: 0 0 0 3px #c4b998, 0 3px 0 0 #c4b998, 0 5px 36px 0 #c4b998;
              }
            }
          }
        }
      }
    }
  }

  .title {
    display: block;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;

    a {
      color: #eeeeee;
      text-decoration: none;

      span {
        color: #c4b998;
        white-space: nowrap;
        font-size: 1.65rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        transition: color 0.35s ease-in-out;

        &:hover {
          color: #8a6c3c;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    &__featured {
      .champions {
        &__wrapper {
          .content {
            padding: 0 0 1rem 1rem;
          }
        }
      }

      .regions {
        &__wrapper {
          .content {
            padding: 1rem 0 1rem 1rem;
          }
        }
      }
    }

    .content {
      padding: 1rem;
      max-width: 768px;
    }

    .nav {
      padding: 2rem 1rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .content {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    &__featured {
      .regions {
        &__wrapper {
          .content {
            padding: 1rem;
          }
        }
      }
    }

    &__others {
      .links {
        &__wrapper {
          .content {
            a {
              img {
                height: 250px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    .content {
      max-width: 325px;
    }

    .nav {
      a {
        span {
          font-size: 1.25rem;
        }
      }
    }
  }
}
