@use '../../../assets/scss/variables/deviceSize' as device;

.wrapper {
  display: block;

  :global(.MuiPaper-root) {
    height: 80vh;
    background-color: #171717;
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: #171717;
    overflow: overlay;

    .video {
      position: relative;
      width: 100vw;
      height: 70vh;
      min-height: 70vh;
      -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
      mask-image: linear-gradient(rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);

      &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        z-index: 5;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.95;

        &--logo {
          width: auto;
          height: 100px;
          margin: 0 0 1rem 0;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &--header {
          span {
            font-size: 2.5rem;
            font-weight: 600;
            color: #c4b998;
          }
        }

        &--footer {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        filter: brightness(0.75);
        mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 90%);
        -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0) 90%);
      }
    }

    &--description {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: justify;
      padding: 2rem;

      span {
        font-weight: 400;
        font-size: 1rem;
        color: #c4b998;
        line-height: 1.6;
        margin: 0 35px 35px;
        max-width: 900px;
        text-align: justify;
      }
    }

    &--champions {
      display: block;
      width: 100%;

      .title {
        position: sticky;
        top: -2px;
        z-index: 34;
        background-color: #171717;

        &.sticky {
          background-color: rgb(17 17 17 / 85%);
          backdrop-filter: blur(20px);
        }
      }

      .featured {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        padding: 2rem;
      }

      .nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        a {
          color: #eeeeee;
          text-decoration: none;

          span {
            color: #c4b998;
            white-space: nowrap;
            font-size: 1.65rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: color 0.35s ease-in-out;
          }

          &:hover {
            span {
              color: #896c3c;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: device.$m) {
  .wrapper {
    :global(.MuiPaper-root) {
      height: 800px;
    }

    &__content {
      .video {
        height: 800px;
        min-height: 800px;

        &__title {
          padding: 1rem;
        }
      }

      &--description {
        padding: 1rem;
      }

      &--champions {
        .featured {
          max-width: 768px;
          padding: 1rem;
        }

        .nav {
          padding: 2rem 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: device.$s) {
  .wrapper {
    :global(.MuiPaper-root) {
      height: 700px;
    }

    &__content {
      .video {
        height: 700px;
        min-height: 700px;
      }

      &--champions {
        .featured {
          max-width: 600px;
        }
      }
    }
  }
}

@media screen and (max-width: device.$xs) {
  .wrapper {
    :global(.MuiPaper-root) {
      height: 600px;
    }

    &__content {
      .video {
        height: 600px;
        min-height: 600px;
      }

      &--description {
        span {
          font-size: 0.8rem;
          margin: 0 auto;
        }
      }

      &--champions {
        .featured {
          max-width: 325px;
        }

        .nav {
          a {
            span {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
