.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .border {
    flex: 1;
  }
  span.text {
    text-align: center;
  }
}

.border {
  border: 1px solid rgba(255, 255, 255, 0.15);
  margin: 1rem 0;
}
