@use '../../../assets/scss/variables/deviceSize' as device;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 800px;
  border-bottom: 3px solid #eeeeee;
  position: relative;

  &__carousel {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    :global(.swiper) {
      width: 100%;
      height: 100%;

      .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: transform 0.35s;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .bullets {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid #eeeeee;
        border-radius: 50%;
        background-color: #eeeeee;
        transition: background-color 0.35s ease-in-out;
        opacity: 1;

        &:global(.swiper-pagination-bullet-active) {
          cursor: pointer;
          background-color: #222831;
        }

        &:hover {
          cursor: pointer;
          background-color: #222831;
        }
      }

      :global(.swiper-pagination-fraction) {
        background-color: #22283195;
        padding: 0.25rem 0;
      }
    }

    &:hover {
      button {
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: device.$s) {
  .wrapper {
    gap: 0;
    height: 500px;

    &__nav {
      span {
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 3px solid #eeeeee;
        border-radius: 50%;
        background-color: #eeeeee;
        transition: background-color 0.35s ease-in-out;

        &.active {
          cursor: pointer;
          background-color: #222831;
        }

        &:hover {
          cursor: pointer;
          background-color: #222831;
        }
      }
    }
  }
}

@media screen and (max-width: device.$xs) {
  .wrapper {
    height: 300px;
  }
}
