.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #171717;
  padding: 0 5rem;
  border-bottom: 3px solid #eeeeee;

  &__nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 1.5rem;

      li {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &.home {
          a {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            svg {
              circle {
                transition: fill 0.25s ease-in-out;
              }

              polygon {
                transition: fill 0.25s ease-in-out;
              }
            }

            &:hover {
              svg {
                circle {
                  fill: #d13539;
                }

                polygon {
                  fill: #eeeeee;
                }
              }
            }
          }
        }
      }
    }
  }

  &__settings {
    .language {
      display: flex !important;
      flex-direction: row !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 0 0 0 2.75rem;

      ul {
        background-color: #171717 !important;
        border: 3px #444444 solid !important;
        border-radius: 0.5rem !important;

        li {
          span {
            margin: 0.25rem 0.75rem;
            color: #eeeeee;
            padding: 0 0.5rem;

            &.selected {
              border-bottom: 1px solid #eeeeee;
            }
          }

          &:hover {
            background-color: #212121 !important;
          }

          &:first-child {
            border-top-left-radius: 0.35rem;
            border-top-right-radius: 0.35rem;
          }

          &:last-child {
            border-bottom-left-radius: 0.35rem;
            border-bottom-right-radius: 0.35rem;
          }
        }

        &::after {
          background-color: transparent !important;
        }
      }
    }
  }
}

// @media screen and (max-width: 1024px) {
//   .wrapper {
//     padding: 0 2.5rem;
//     &__nav {
//       ul {
//         li {
//           display: none;

//           &:first-child,
//           &:nth-child(2),
//           &:nth-child(3) {
//             display: inline-flex;
//           }
//         }
//       }
//     }
//   }
// }
