.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #171717;
  padding: 0 5rem;
  border-bottom: 3px solid #eeeeee;

  &__nav {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      gap: 1.5rem;

      li {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &.home {
          a {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            svg {
              circle {
                transition: fill 0.25s ease-in-out;
              }

              polygon {
                transition: fill 0.25s ease-in-out;
              }
            }

            &:hover {
              svg {
                circle {
                  fill: #d13539;
                }

                polygon {
                  fill: #eeeeee;
                }
              }
            }
          }
        }

        .hamburger {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 0.25rem;
          width: auto;
          height: auto;
          background-color: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }

  &__settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    &.mobile {
      button {
        svg {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}
