@use '../../../assets/scss/variables/deviceSize' as device;

.container {
  display: block;
  position: relative;
  min-height: 875.898px;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
    filter: brightness(0.4);
  }

  &__filter {
    display: block;
    border: 3px solid rgba(51, 51, 51, 0.25);
    background-color: #171717;
    margin: 0 0 5rem 0;
    height: 100px;

    .box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 1400px;
      height: 100%;
      margin: 0 auto;
      padding: 0 2rem;
    }
  }

  &__title {
    display: block;
    margin: 0 0 2rem 0;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 0 2rem 2rem;

    .not-found {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2rem 2rem 2rem 0;
      width: 100%;

      span {
        font-weight: 400;
        font-size: 0.9rem;
        color: #c4b998;
        letter-spacing: 4px;
      }
    }
  }
}

@media screen and (max-width: device.$m) {
  .container {
    min-height: 500px;

    &__content {
      padding: 0 0 1rem 1rem;
      max-width: 768px;

      .not-found {
        padding: 2rem 1rem 2rem 0;
      }
    }
  }
}

@media screen and (max-width: device.$s) {
  .container {
    &__filter {
      margin: 0 0 3rem 0;

      .box {
        padding: 0 1rem;
      }
    }

    &__content {
      max-width: 600px;
    }
  }
}

@media screen and (max-width: device.$xs) {
  .container {
    &__filter {
      margin: 0 0 1rem 0;
    }

    &__content {
      max-width: 325px;
    }
  }
}
