.container {
  &:global(.MuiDialog-root) {
    bottom: 175px;
    transition: bottom 0.35s ease-in-out;

    :global(.MuiBackdrop-root) {
      background-color: rgba(0, 0, 0, 0.75);
    }

    :global(.MuiDialog-container) {
      padding-bottom: 50px;

      :global(.MuiPaper-root) {
        background-color: transparent;

        fieldset {
          width: 100%;
          border: 1px solid #c4b998;
          border-radius: 0.5rem;
          background-color: #111318;
          position: relative;

          legend {
            padding: 0 2rem;

            .spinner {
              min-width: 100px;
              min-height: 56px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }

            span {
              font-size: 3.5rem;
              font-weight: 600;
              background: #c4b998;
              background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              color: #c4b998;
            }
          }

          .wrapper {
            display: block;
            background-color: #111318;
            border-radius: 0.5rem;
            overflow: hidden;
            height: calc(330px + 75px + 25px);
            transition: height 0.35s ease-in-out;

            &__title {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 1rem 3rem;
              height: 75px;

              .name {
                width: 300px;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                span {
                  font-size: 1rem;
                  font-weight: 500;
                  color: #c4b998;
                  letter-spacing: 0.02rem;
                  text-align: justify;
                  background: #c4b998;
                  background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                }
              }

              .actions {
                width: calc(100% - 300px);
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                gap: 1rem;

                a {
                  min-width: 60px;
                  height: 40px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  text-decoration: none;

                  span {
                    font-size: 1rem;
                    font-weight: 600;
                    background: #c4b998;
                    background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                    color: #c4b998;
                  }

                  &:hover {
                    span {
                      background: #d13539;
                      background: -webkit-linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      background: -moz-linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      background: linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      -webkit-background-clip: text;
                      background-clip: text;
                      -webkit-text-fill-color: transparent;
                      color: #d13539;
                    }
                  }
                }

                .close {
                  width: 40px;
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                }
              }
            }

            &__content {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: stretch;
              padding: 1rem 3rem;
              height: 330px;
              position: relative;
              background-color: #111318;

              &--img {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;

                .image {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  width: 300px;
                  height: 200px;
                  border: 3px solid #31271e;
                  border-radius: 0.5rem;
                  transform: scale(1);
                  transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out, border-color 0.35s ease-in-out;

                  img {
                    height: 100%;
                    border-radius: 0.25rem;
                  }

                  &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 17px 2px #d4d4d5, 0 3px 0 0 #11131827, 0 7px 26px 0 #d4d4d5;
                    border-color: #eeeeee;
                    cursor: pointer;

                    img {
                      opacity: 1;
                    }
                  }
                }

                .buttons {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;

                  button {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 40px;
                    border: 3px solid #31271e;
                    border-radius: 0.5rem;
                    background-color: #111318;
                    transition: background-color 0.35s ease-in-out, box-shadow 0.35s ease-in-out, border-color 0.35s ease-in-out;

                    svg {
                      transition: fill 0.35s ease-in-out;
                    }

                    &:hover {
                      background-color: #d4d4d5;
                      box-shadow: 0px 0px 17px 2px #d4d4d5, 0 3px 0 0 #11131827, 0 7px 26px 0 #d4d4d5;
                      border-color: #eeeeee;
                      cursor: pointer;

                      svg {
                        fill: #111318;
                      }
                    }

                    &:last-child {
                      svg {
                        transform: rotateY(180deg);
                      }
                    }
                  }
                }
              }

              &-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: stretch;

                .description {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  border: 3px solid #31271e;
                  border-radius: 0.5rem;
                  width: 460px;
                  height: 200px;
                  padding: 2rem;
                  background-color: #111318;
                  transition: border-color 0.35s ease-in-out;

                  span {
                    font-size: 0.8rem;
                    font-weight: 500;
                    color: #c4b998;
                    letter-spacing: 0.02rem;
                    text-align: justify;
                    background: #c4b998;
                    background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                  }

                  button {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    background-color: transparent;
                    font-size: 0.8rem;
                    font-weight: 900;
                    color: #c4b998;
                    letter-spacing: 0.02rem;
                    background: none;
                    -webkit-background-clip: unset;
                    background-clip: unset;
                    -webkit-text-fill-color: #c4b998;

                    &:hover {
                      background: #d13539;
                      background: -webkit-linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      background: -moz-linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      background: linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      -webkit-background-clip: text;
                      background-clip: text;
                      color: #d13539;
                      -webkit-text-fill-color: transparent;
                      cursor: pointer;
                    }
                  }

                  &:hover {
                    border-color: #eeeeee;
                  }
                }

                .skill {
                  display: flex;
                  flex-direction: row;
                  justify-content: space-between;
                  align-items: center;

                  &__item {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 70px;
                    border: 3px solid #31271e;
                    border-radius: 0.5rem;
                    transform: scale(1);
                    transition: transform 0.35s ease-in-out, border-color 0.35s ease-in-out;

                    img {
                      opacity: 0.65;
                      border-radius: 0.25rem;
                      transition: transform 0.35s ease-in-out, box-shadow 0.35s ease-in-out, opacity 0.35s ease-in-out;
                    }

                    &:hover {
                      transform: scale(1.05);
                      border-color: #eeeeee;
                      cursor: pointer;

                      img {
                        opacity: 1;
                        box-shadow: 0px 0px 17px 2px #d4d4d5, 0 3px 0 0 #11131805, 0 7px 26px 0 #d4d4d5;
                      }
                    }

                    &.active {
                      transform: scale(1.05);
                      border-color: #eeeeee;

                      img {
                        opacity: 1;
                        box-shadow: 0px 0px 17px 2px #d4d4d5, 0 3px 0 0 #11131805, 0 7px 26px 0 #d4d4d5;
                      }
                    }
                  }
                }
              }
            }

            &__drawer {
              display: block;
              height: 175px;
              background-color: #111318;
              border-top: 3px solid #31271e;
              padding: 1rem;
              margin-top: 25px;

              &--title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 60px;
                padding: 0 0 1rem 0;
                margin: 0 2rem;
                border-bottom: 3px solid #31271e;

                span {
                  font-size: 2rem;
                  font-weight: 600;
                  background: #c4b998;
                  background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                  color: #c4b998;
                }

                .button {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  width: 40px;
                }
              }

              &--content {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 1rem 2rem;

                span {
                  font-size: 0.8rem;
                  font-weight: 600;
                  background: #c4b998;
                  background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                  -webkit-background-clip: text;
                  background-clip: text;
                  -webkit-text-fill-color: transparent;
                  color: #c4b998;
                }
              }
            }
          }
        }
      }
    }
  }

  &.open {
    &:global(.MuiDialog-root) {
      bottom: 0;

      :global(.MuiDialog-container) {
        :global(.MuiPaper-root) {
          .wrapper {
            height: calc(330px + 75px + 175px + 25px);
          }
        }
      }
    }
  }
}

.big__image {
  :global(.MuiDialog-container) {
    padding-bottom: 50px;

    :global(.MuiPaper-root) {
      overflow: hidden;
      background-color: #111318;
      border-radius: 0.5rem;

      .dialog {
        display: block;
        background-color: #111318;
        overflow: hidden;
        border: 3px solid #31271e;
        border-radius: 0.5rem;

        .button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 75px;
          position: absolute;
          top: 2rem;
          right: 2rem;
          z-index: 3;
        }

        span {
          position: absolute;
          left: 2rem;
          bottom: 2rem;
          font-size: 3.5rem;
          font-weight: 500;
          color: #c4b998;
          letter-spacing: 0.02rem;
          text-align: justify;
          background: #c4b998;
          background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          z-index: 3;
        }

        &__content {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          min-width: 100%;
          min-height: 100%;

          img {
            width: 100%;
            height: 100%;
            filter: brightness(0.75);
          }
        }
      }
    }
  }
}
