.card {
  display: block;
  padding: 2.5rem 2rem 0 0;
  flex: 0 1 20%;

  &__item {
    box-shadow: 0 0 0 1px #535353, 0 1px 0 0 #535353, 0 1px 6px 0 #535353;
    border-radius: 0.7ch;
    border-top-right-radius: 7.17ch;
    transform: scale3d(1, 1, 1);
    transition: border-radius 0.5s ease-in-out, transform 0.5s,
      box-shadow 0.5s ease-in-out;
    position: relative;

    &--hero {
      .image {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0.7ch;
        border-bottom-right-radius: 0.7ch;
        border-top-left-radius: 0.7ch;
        border-top-right-radius: 7.17ch;
        vertical-align: middle;
        background-size: cover;
        transition: border-radius 0.5s ease-in-out, opacity 0.3s ease-in-out;
      }
    }

    &--name {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 1.25rem 1.5rem;
      background-color: #535353;
      border-bottom-left-radius: 0.7ch;
      border-bottom-right-radius: 0.7ch;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.75;
      transition: background-color 0.5s ease-in-out, opacity 0.35s ease-in-out;

      span {
        color: #fff;
        white-space: nowrap;
        font-size: 1.2rem;
        font-weight: 800;
        letter-spacing: 0.08em;
        transition: padding 0.5s ease-in-out, color 0.35s ease-in-out;
      }
    }

    &:hover {
      border-top-right-radius: 0.7ch;
      transform: scale3d(1.05, 1.05, 1);
      box-shadow: 0 0 0 3px #c4b998, 0 3px 0 0 #c4b998, 0 5px 36px 0 #c4b998;
      cursor: pointer;

      .card__item--hero {
        .image {
          border-top-right-radius: 0.7ch;
        }
      }

      .card__item--name {
        background-color: rgba(10, 10, 12, 0.9);
        opacity: 0.85;

        span {
          padding: 0 0 0 1rem !important;
          color: #c4b998;
        }
      }
    }
  }
}
