.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d1353995;
  border: none;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  transition: width 0.35s ease-in-out, height 0.35s ease-in-out, border-radius 0.35s ease-in-out, background-color 0.35s ease-in-out;

  svg {
    width: 0px;
    transition: width 0.35s ease-in-out, fill 0.35s ease-in-out;
  }

  &:hover {
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
    background-color: #d13539;
    cursor: pointer;

    svg {
      width: 24px;
      fill: #eeeeee;
    }
  }
}
