@use '../../../assets/scss/variables/deviceSize' as device;

.card {
  flex: 0 1 25%;
  padding: 2rem 2rem 0 0;

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 0 0 0 1px #eeeeee, 0 2px 0 0 #423f3e, 0 1px 3px 0 #eeeeee;
    border-radius: 0.5rem;
    position: relative;
    transition: box-shadow 0.35s ease-in-out;

    .image {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      width: 100%;
      height: 100%;
      min-height: 296.72px;
      background-color: #423f3e;
      border-bottom: 3px solid #eeeeee;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      padding: 1rem;
      width: 100%;
      height: 100%;
      min-height: 200px;
      background-color: #212121;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;

      &__title {
        font-size: 1.25rem;
        font-weight: 700;
        width: 100%;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        span {
          color: #eeeeee;
          opacity: 1;
        }
      }

      &__subtitle {
        font-size: 1rem;
        font-weight: 500;
        width: 100%;
        height: 2.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0 0 1rem 0;

        span {
          color: #eeeeee;
          opacity: 0.75;
        }
      }

      &__description {
        font-size: 0.8rem;
        font-weight: 400;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 1rem 0;

        span {
          color: #eeeeee;
          opacity: 1;
        }
      }
    }

    .abilities {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      width: 0%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      background-size: cover;
      background-position: center;
      background-color: #171717;
      border-radius: inherit;
      padding: 3rem 0;
      transition: width 0.35s ease-in-out;

      &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: #eeeeee;
        padding: 1rem 0;
        opacity: 0.75;

        &--item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 1rem;

          img {
            width: 50px;
            height: 50px;
            filter: invert(0.7);
          }

          span {
            white-space: break-spaces;
            color: #171717;
            font-size: 1rem;
            font-weight: 700;
            opacity: 0.75;
          }

          &:hover {
            cursor: pointer;

            img {
              filter: invert(1);
            }

            span {
              opacity: 1;
            }
          }

          &.active {
            img {
              filter: invert(1);
            }

            span {
              opacity: 1;
            }
          }
        }
      }

      &__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        background-color: #eeeeee;
        padding: 1rem 0;
        opacity: 0.95;
        color: #171717;

        h4 {
          text-align: center;
          color: #171717;
          font-family: Roboto, sans-serif, system-ui;
          font-size: 1rem;
          font-weight: 600;
          line-height: 1.5;
          white-space: break-spaces;
        }

        span {
          text-align: center;
          color: #171717;
          line-height: 1.5;
          font-size: 0.8rem;
          font-weight: 600;
          white-space: break-spaces;
        }
      }
    }

    &:hover {
      box-shadow: 0 0 0 3px #eeeeee, 0 4px 0 0 #171717, 0 3px 30px 0 #eeeeee;

      .abilities {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: device.$m) {
  .card {
    flex: 0 1 33.333%;
    padding: 1rem 1rem 0 0;

    &__item {
      .image {
        padding: 1rem;
      }

      .info {
        &__title {
          font-size: 1rem;
        }

        &__subtitle {
          font-size: 0.9rem;
        }

        &__description {
          font-size: 0.7rem;
        }
      }

      .abilities {
        padding: 1rem 0;

        &__list {
          &--item {
            img {
              width: 35px;
              height: 35px;
            }

            span {
              font-size: 0.9rem;
            }
          }
        }

        &__description {
          h4 {
            font-size: 0.9rem;
          }

          span {
            font-size: 0.7rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: device.$s) {
  .card {
    max-width: 350px;
    flex: 0 1 50%;
  }
}

@media screen and (max-width: device.$xs) {
  .card {
    max-width: 350px;
    flex: 0 1 100%;
  }
}
