.container {
  display: block;
  color: #eeeeee;

  &__hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    mask-image: linear-gradient(rgb(0, 0, 0) 65%, rgba(0, 0, 0, 0) 98%);

    &--images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      img {
        width: 100% !important;
      }
    }
  }

  &__nav {
    display: block;
    padding: 2.5rem;

    &--title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin: 2.5rem;
      padding: 0 0 0 1rem;

      span {
        font-size: 3rem;
        font-family: Roboto, sans-serif, system-ui;
        text-align: center;
        line-height: 1.28571429em;
        font-weight: 500;
        letter-spacing: 0.05rem;
      }
    }

    .games {
      display: block;

      &__card {
        padding: 1rem 0 0 1rem;

        ul {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: center;
          list-style-type: none;

          li {
            display: flex;
            flex: 0 1 50%;
            padding: 0 1rem 1rem 0;

            a {
              margin: 1rem;
              max-width: 100%;
              color: #eeeeee;
              text-decoration: none;

              img {
                max-width: 100%;
                height: auto;
                border: 2px solid transparent;
                border-radius: 3ch;
                opacity: 1;
                transition: all 0.35s ease-in-out;
              }

              &:hover {
                img {
                  border: 2px solid #444444;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }
    }
  }

  &__divider {
    padding: 0 2.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    &__hero {
      &--images {
        img {
          height: 500px;
          object-fit: cover;
        }
      }
    }

    &__nav {
      padding: 1rem;

      &--title {
        margin: 1rem;

        span {
          font-size: 2.5rem;
        }
      }

      .games {
        &__card {
          ul {
            li {
              a {
                margin: 0.5rem;
              }
            }
          }
        }
      }
    }

    &__divider {
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .container {
    &__nav {
      &--title {
        padding: 0;
        justify-content: center;
      }

      .games {
        &__card {
          ul {
            flex-direction: column;
            align-items: stretch;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    &__nav {
      &--title {
        margin: 0;
      }
      .games {
        &__card {
          padding: 0;

          ul {
            li {
              padding: 1rem 0;
              a {
                margin: 0;
              }

              &:last-child {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
