.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  border: none;
  outline: none;
  height: 100%;
  padding: 0 3rem 0 0;
  position: relative;

  &__sort {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    &--title {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 0.5rem;

      span {
        font-weight: 700;
        font-size: 1rem;
        color: #c4b998;
        letter-spacing: 4px;

        &:last-child {
          color: #937341;
          text-align: center;
        }
      }
    }

    &--menu {
      position: absolute;
      width: 100%;
      top: -300px;

      transition: top 0.35s ease-in-out;
      animation: index-out 0.5s;

      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        list-style-type: none;
        border-left: 3px solid rgba(51, 51, 51, 0.25);
        border-right: 3px solid rgba(51, 51, 51, 0.25);
        border-bottom: 3px solid rgba(51, 51, 51, 0.25);

        li {
          padding: 1rem 2rem;
          text-align: left;
          color: #c4b998;
          background-color: #121212;

          &:hover {
            background-color: #212121;
          }
        }
      }

      &.visible {
        top: 97px;
        animation: index-in 0.5s;
      }

      @keyframes index-in {
        0% {
          z-index: -1;
        }

        25% {
          z-index: -1;
        }

        50% {
          z-index: -1;
        }

        100% {
          z-index: 1;
        }
      }

      @keyframes index-out {
        0% {
          z-index: -1;
        }

        25% {
          z-index: -1;
        }

        50% {
          z-index: -1;
        }

        100% {
          z-index: -1;
        }
      }
    }
  }

  &:hover {
    cursor: pointer;
    background-image: -webkit-radial-gradient(
      50% 12%,
      circle,
      #1b1b1b,
      #121212 40%
    );
  }

  &.open {
    background-image: -webkit-radial-gradient(
      50% 12%,
      circle,
      #1b1b1b,
      #121212 40%
    );
  }
}
