.wrapper {
  display: block;

  .background {
    width: 100%;
    height: 100%;
    min-height: 70dvh;
    max-height: 80dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
    filter: brightness(0.75);
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 65%, #17171701 70%, #171717 100%);
      margin: -10rem 0 0 0;
      z-index: 3;

      &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;

        & > span {
          font-size: 5rem;
          font-weight: 600;
          letter-spacing: 0.2em;
          background: #c4b998;
          background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        img {
          width: 100%;
          height: 100%;
        }

        fieldset {
          width: 1000px;
          border: 1px solid #c4b998;
          border-radius: 0.5rem;
          background-color: #111318;
          margin-top: 1.25rem;
          position: relative;

          .gradient {
            position: absolute;
            top: -7rem;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: radial-gradient(ellipse closest-side at 50% 10%, #93734116, rgb(0, 0, 0, 0));
            z-index: -1;
          }

          legend {
            padding: 0 2rem;

            span {
              font-size: 3.5rem;
              font-weight: 600;
              background: #c4b998;
              background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              color: #c4b998;
            }
          }

          .champion {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            width: 100%;
            height: 100%;
            border-radius: 0.5rem;
            gap: 2rem;
            padding: 2rem;

            &__info {
              display: flex;
              flex: 1 1 35%;
              flex-direction: column;
              justify-content: flex-start;
              align-items: stretch;
              gap: 1rem;

              .content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 75px;
                border: 3px solid #31271e;
                border-radius: 0.5rem;
                background-color: #111318;

                &__logo {
                  display: flex;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  width: calc(50px + 2rem);
                  height: 100%;
                  padding: 0 1rem;
                  border-right: 3px solid #31271e;

                  img {
                    width: 100%;
                    height: 100%;
                    max-height: 50px;
                    object-fit: cover;
                    object-position: center;
                  }
                }

                &__role {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  width: calc(100% - (50px + 2rem));
                  height: 100%;
                  gap: 0.5rem;
                  padding: 0 1rem;

                  span {
                    font-size: 1rem;
                    font-weight: 400;
                    letter-spacing: 0.2em;
                    background: #c4b998;
                    background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;

                    &:last-child {
                      font-size: 0.75rem;
                      color: #c4b998;
                    }
                  }
                }

                a {
                  width: 100%;
                  height: 100%;
                  text-decoration: none;

                  &:hover {
                    span {
                      color: #d13539;
                      background: linear-gradient(to bottom, #d13539 0%, #937341 100%);
                      -webkit-background-clip: text;
                      background-clip: text;
                    }
                  }
                }
              }
            }

            &__lore {
              display: flex;
              flex: 1 1 65%;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              border: 3px solid #31271e;
              border-radius: 0.5rem;
              background-color: #111318;
              padding: 2rem;

              span {
                font-size: 0.85rem;
                font-weight: 400;
                background: #c4b998;
                background: -webkit-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                background: -moz-linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                background: linear-gradient(to bottom, #c4b998 0%, #937341 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-align-last: center;
                -moz-text-align-last: center;
                -ms-text-align-last: center;
                text-align-last: center;
                color: #c4b998;
                line-height: 1.6;
                text-align: justify;
              }
            }
          }
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: 600px;
    width: 100%;
    margin: 5rem auto;
    gap: 1rem;
    position: relative;
    padding: 0 2rem;

    .first {
      flex: 1 1 33.333%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #111318;
      border: 3px solid #31271e;
      border-radius: 0.5rem;
      position: relative;
      z-index: 3;

      &__skins {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 3rem;
        overflow: hidden;
        padding: 2rem 0;

        button {
          width: 65%;
          height: 35%;
          border-radius: 50%;
          transform: scale(1);
          transition: transform 0.35s ease-in-out;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
          }

          &::after {
            position: absolute;
            top: -3px;
            right: -3px;
            bottom: -3px;
            left: -3px;
            background-image: -webkit-linear-gradient(top, #3e3310, #c6b98b, #3e3310);
            background-image: linear-gradient(180deg, #3e3310, #c6b98b, #3e3310);
            border-radius: 50%;
            content: '';
            z-index: -1;
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }

        &:hover {
          overflow-y: visible;
        }
      }
    }

    .middle {
      flex: 1 1 calc(100% - 33.333% - 33.333%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      height: 100%;
      background-color: #111318;
      border: 3px solid #31271e;
      border-radius: 0.5rem;
      z-index: 3;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        object-position: center;
        border-radius: 0.5rem;
      }
    }
  }
}
